.countries {
    position: relative;
    margin: 20px 0;
    &__menu {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        img {
            width: 28px;
            height: 21px;
            margin-right: 10px;
            margin-top: 3px;
        }
        &-country {
            font-size: 14px;
            font-weight: 700;
            line-height: 18px;
        }
        &-location {
            font-size: 12px;
            font-weight: 300;
            line-height: 18px;
        }
        &-phone {
            color: #000;
            font-size: 12px;
            font-weight: 300;
            line-height: 18px;
        }
    }

}
