@media (max-width: 1200px) {
    .container {
        width: 960px;
        position: relative;
    }
    .overlay {
        &.active {
           visibility: visible;
        }
    }
    .countries {
        justify-content: flex-start;
        margin: 0;
        height: 100%;
        overflow-y: scroll;
        overscroll-behavior-y: contain;
        .container{
            width: 280px;
        }
        @include menu_active;
        &.active {
            right: 0;
            visibility: visible;
            opacity: 1;
        }
        &__menu {
            margin: 30px 0 60px 0;
            flex-direction: column;
            z-index: 11;
            width: 100%;
        }
        &__item {
            display: flex;
            padding: 10px 20px;
            right: -100%;
            &-contacts {
                width: 190px;
            }
        }
        &__btn{
            &_close {
                display: block;
            }
        }
        .active {
            display: flex;
        }
        .hidden {
            display: none;
        }
    }
    .control {
        &__list {
            margin-right: 50px;
        }
        &__btn_open {
            display: block;
        }
        &__title {
            font-size: 38px;
        }

    }
    .with {
        &__wrapper {
            flex-wrap: wrap;
            gap: 30px;
            justify-content: space-around;
        }
        &__title {
            font-size: 45px;
        }
    }
    .solution {
        &__menu {
            width: 770px;
            li {
                padding: 0 20px;
            }
        }
    }
    .advantages {
        &__wrapper {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, auto);
        }
        &__item {
            &-descr {
                font-size: 21px;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }
    .title {
        &_fz30 {
            font-size: 28px;
        }
    }
    .control {
        &__menu {
            @include menu_active;
            padding-top: 100px;
            justify-content: flex-start;
            width: 280px;
            height: 100vh;
            overflow: scroll;
            right: -100%;
            &.active {
                right: 0;
            }
        }
        &__list {
            flex-direction: column;
            margin: 0 auto;
            text-transform: none;
            font-size: 18px;
            line-height: 50px;
        }
        &__link {
            position: relative;
            width: 100%;
            text-align: center;
            margin: 0;
            border-radius: 5px;
            a {
                color:#909090;
            }
            
            &:hover {
                background-color: #e8eaed;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    height: 100%;
                    background-color: $main-color;
                    border-radius: 5px;
                    width: 5px;
                }    
            }
            &:hover a {
                color: #314961;
            }

        }
        &__descr {
            width: 50%;
            margin-top: 80px;
        }
        &__title {
            width: 100%;
            font-size: 35px;
            line-height: 42px;
        }
        &__subtitle {
            width: 100%;
            font-size: 25px;
        }
        &__phone {
            img {
                width: 100%;
            }
        }
        &__btn {
            margin-top: 25px;
        }
        .hamburger {
            margin: 17px 50px 0 0;
            display: flex;
        }
    }
    .solution {
        &__menu {
            width: auto;
            height: 10px;
            border: none;
        }
        &__list {
            display: none;
        }
        li {
            border: none;
            padding: 0 10px;
        }
        &__macbook {
            max-width: 700px;
            height: 400px;
        }
        &__carousel {
            padding-top: 27px;
            width: 100%;
            max-width: 496px;
            height: auto;
        }
        &__slide {
            img {
                max-width: 100%;
                height: auto;
            }
        }
        &__btn {
            font-size: 0;
            @include dots(#fff, transparent);
        }
    }
    .slick-dots {
        .slick-active {
            .solution__btn {
                @include dots(#fff, #fff);
            }
        }
    }

    .advantages {
        &__wrapper {
            grid-template-columns: 570px;
            grid-auto-rows: auto;
        }
        &__item {
            &-descr {
                font-size: 23px;
            }
        }
    }

}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    .title {
        &_fz30 {
            font-size: 30px;
            line-height: 35px;
        }
    }
    .control {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__descr {
            text-align: center;
            width: 100%;
        }
        &__title {
            font-size: 31px;
            line-height: 40px;
        }
        &__subtitle {
            margin: 0 auto;
            margin-top: 40px;
            font-size: 22px;
            width: 400px;
        }
        &__btn {
            margin: 0 auto;
            margin-top: 40px;
        }
        &__phone {
            margin-top: 40px;
        }
    }
    .solution {
        &__title {
            width: 100%;
        }
        &__macbook {
            max-width: 520px;
            height: 300px;
        }
        &__carousel {
            padding-top: 20px;
            max-width: 372px;
        }
    }
    .advantages {
        &__wrapper {

            grid-template-columns: 1fr;
        }
    }
    
}

@media (max-width: 576px) {
    .container {
        width: 320px;
    }
    .title {
        &_fz30 {
            font-size: 22px;
            line-height: 30px;
        }
    }
    .control {
        &__title {
            font-size: 34px;
            line-height: 46px;
        }
        &__subtitle {
            font-size: 17px;
            width: 100%;
        }
        &__btn {
            .btn {
                width: 200px;
                height: 50px;
                font-size: 14px;
            }
        }
    }
    .with {
        &__item {
            width: 100%;
            &-descr {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
    .solution {
        &__title {
            width: 280px;
        }
        &__macbook {
            max-width: 320px;
            height: 212px;
        }
        &__carousel {
            padding-top: 24px;
            max-width: 235px;
        }
    }
    .advantages {
        &__title {
            width: 100%;
        }
        &__item {
            max-width: 100%;
            height: auto;
            &-descr {
                width: 300px;
                font-size: 15px;
                line-height: 22px;
            }
        }

    }
}
@media (max-width: 320px) {
    .container {
        width: 100%;
    }
    .solution {
        &__macbook {
            max-width: 320px;
            height: 188px;
        }
        &__carousel {
            padding-top: 12px;
            max-width: 235px;
        }
    }
}
