@media (max-width: 1200px) {
    .container {
        width: 960px;
        position: relative;
    }
    .overlay {
        &.active {
           visibility: visible;
           opacity: 0.5;
        }
    }
    .countries {
        justify-content: flex-start;
        margin: 0;
        height: 100%;
        overflow-y: scroll;
        overscroll-behavior-y: contain;
        .container{
            width: 280px;
        }
        @include menu_active;
        &.active {
            right: 0;
            visibility: visible;
            opacity: 1;
        }
        &__menu {
            margin: 30px 0 60px 0;
            flex-direction: column;
            z-index: 11;
            width: 100%;
        }
        &__item {
            display: flex;
            padding: 10px 20px;
            right: -100%;
            &-contacts {
                width: 190px;
            }
        }
        &__btn{
            &_close {
                display: block;
            }
        }
        .active {
            display: flex;
        }
        .hidden {
            display: none;
        }
    }
    .control {
        &__list {
            margin-right: 50px;
        }
        &__btn_open {
            display: block;
        }
        &__title {
            font-size: 38px;
        }

    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }
    .control {
        &__menu {
            @include menu_active;
            padding-top: 40px;
            justify-content: flex-start;
            width: 280px;
            height: 100vh;
            overflow: scroll;
            right: -100%;
            &.active {
                right: 0;
            }
        }
        &__list {
            flex-direction: column;
            margin: 0 auto;
            text-transform: none;
            font-size: 18px;
            line-height: 50px;
        }
        &__link {
            position: relative;
            width: 100%;
            text-align: center;
            margin: 0;
            border-radius: 5px;
            a {
                color:#909090;
            }
            
            &:hover {
                background-color: #e8eaed;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    height: 100%;
                    background-color: $main-color;
                    border-radius: 5px;
                    width: 5px;
                }    
            }
            &:hover a {
                color: #314961;
            }

        }
        &__descr {
            width: 50%;
            margin-top: 80px;
        }
        &__title {
            width: 100%;
            font-size: 35px;
            line-height: 42px;
        }
        &__subtitle {
            width: 100%;
            font-size: 25px;
        }
        &__phone {
            img {
                width: 100%;
            }
        }
        &__btn {
            margin-top: 25px;
        }
        .hamburger {
            margin: 17px 50px 0 0;
            display: flex;
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    .control {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__descr {
            text-align: center;
            width: 100%;
        }
        &__title {
            font-size: 28px;
            line-height: 40px;
        }
        &__subtitle {
            margin: 0 auto;
            margin-top: 40px;
            font-size: 22px;
            width: 400px;
        }
        &__btn {
            margin: 0 auto;
            margin-top: 40px;
        }
        &__phone {
            margin-top: 40px;
        }
    }
    
}

@media (max-width: 576px) {
    .container {
        width: 320px;
    }
    .control {
        &__title {
            font-size: 25px;
            line-height: 35px;
        }
        &__subtitle {
            font-size: 17px;
            width: 100%;
        }
        &__btn {
            .btn {
                width: 200px;
                height: 50px;
                font-size: 14px;
            }
        }
    }
}
@media (max-width: 320px) {
    .container {
        width: 300px;
    }
}
