.modal {
    display: none;
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    width: 380px;
    min-height: 400px;
    overflow-y: auto !important;
    overscroll-behavior-y: contain;
    overflow-x: hidden;
    padding: 40px 40px 0 40px;
    border-radius: 5px;
    z-index: 10;
    transition: all 0.5s;
    //opacity: 0;
    //visibility: 0;
    &__subtitle {
        text-align: center;
        color: #000;
    }
    &__descr {
        margin-top: 10px;
        text-align: center;
        color: #000;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
    }
    &_mini {
        min-height: 160px;
    }
    &__close {
        display: block;
    }
}

.modal.active {
    display: block;
    //opacity: 1;
    //visibility: 1;
}

.modal_mini.active {
    display: block;
}

// #access, #thanks {
//     display: none;
// }