.solution {
    padding: 80px 0;
    background: url('../img/bg/solution_bg.jpg') no-repeat 100%/cover;
    &__title {
        margin: 0 auto;
        width: 640px;
        text-align: center;
    }
    &__menu {
        margin: 0 auto;
        margin-top: 25px;
        width: 840px;
        height: 60px;
        border: 1px solid #fff;
        border-radius: 4px;
        .solution__list {
            height: 0;
        }
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    li {
        display: block;
        list-style: none;
        font-size: 14px;
        line-height: 45px;
        font-weight: 400;
        border-right: 1px solid #8c9393;
        padding: 0 25px;
        &:last-child {
            border: none;
        } 
    }
    .slick-dots {
        .slick-active {
            .solution__btn {
                color: $main-color;
            }
        }
    }
    &__btn {
        position: relative;
        border: none;
        background: none;
        color:#fff;
        font-size: 14px;
        cursor: pointer;
    }
    &__macbook {
        background: url('../img/solution/macbook-air.png');
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;
        position: relative;
        margin: 0 auto;
        width: 950px;
        height: 560px;
        margin-top: 35px;
        z-index: 3;
    }
    &__carousel {
        margin: 0 auto;
        padding-top: 38px;
        width: 695px;
    }
    &__slide {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0 auto;
        z-index: 2;
        img {
            width: 100%;
            height: auto;
            max-height: 100%;
            object-fit: fill;
        }
    }
}




.chevron{
    background: transparent;
    border: none;
    position: absolute;
    top: 220px;
    &::before {
        border-style: solid;
        border-color: $main-color;
        border-width: 2px 2px 0 0;
        content: '';
        display: inline-block;
        height: 40px;
        left: 0.15em;
        position: relative;
        top: 0.15em;
        transform: rotate(-45deg);
        vertical-align: top;
        width: 40px;
    }
    &:hover {
        cursor: pointer;
    }
    &:active {
        &:before {
            border-color: #fff;
        }
    }
    &-right{
        right: -155px;
        &:before {
            transform: rotate(45deg);
        }
    }
    &-left{
        left: -155px;
        &:before {
            transform: rotate(-135deg);
        }
    }

}