.title {
   font-size: 42px;
   line-height: 48px;
   font-weight: 900; 
   color: #fff;
   &_fz24 {
       font-size: 24px;
       line-height: 30px;
       font-weight: 300;
   }
   &_fz16 {
       font-size: 16px;
       line-height: 30px;
       font-weight: 700;
   }
   &_fz18 {
       font-size: 18px;
       line-height: 26px;
       font-weight: 300;
   }
   &_fz30 {
       font-size: 30px;
       line-height: 36px;
   }
}